$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

* {
    outline: 2px solid red;
}

.menu-container {
    width: 5%;
    height: 100%;
    position: fixed;
    background: grey;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;

        a {
            color: white;
        }
    }
}

.container {
    width: 95%;
    position: absolute;
    left: 5%;
    height: 100%;
}