$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$primary-grey: #221e1f;
$transparent-grey: rgba(34, 30, 31, 0.40);
$primary-white: #ffffff;
$transparent-white: rgba(255, 255, 255, 0.25);
$primary-purple: #2b2b50;
$primary-green: #d8e164;
$primary-blue: #9bd5d7;

$secondary-grey: #333b3a;
$secondary-purple: #9b9bba;
$secondary-blue: #b9e4e8;
$transparent-secondary-blue: rgba(185, 228, 232, 0.25);

$header-font: 'PT Mono';
$text-font: 'PT Sans';


@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

// * {
//     outline: 2px solid red;
// }

html, body {
    height: 100%;
    font-family: $text-font;
    background: 
        linear-gradient($transparent-grey, $transparent-grey), 
        url('../images/comp.jpg') no-repeat center center fixed;
    background-size: cover;    
    // background: linear-gradient($transparent-white, $transparent-white), url('../images/comp.jpg');
}

.menu-container {
    width: 5%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: $primary-grey;

    ul {
        width: 100%;
        position: relative;
        list-style: none;
        padding: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        li {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 40px 0;
            border-bottom: 1px solid $primary-white;
            border-top: 1px solid $primary-white;

        }

        // li:last-child {
        //     border-bottom: none;
        // }

        li:hover {
            background: linear-gradient($primary-white, $primary-white);
            opacity: 0.7;
        }

        a {
            height: 100%;
            width: 100%;
            text-decoration: none;
        }

        img {
            width: 60%;
        }
    }
}

.logo-div {
    position: relative;
    left: 5%;
    margin: 20px 0 40px;
    width: 95%;
    padding: 10px;
    // outline: 2px solid green;
    // background: $transparent-white;
    text-align: center;

    img {
        width: 20%;
        margin: 0 auto;
        // outline: 1px solid blue;
    }
}

.container {
    width: 95%;
    height: 100%;
    display: block;
    left: 5%;
    position: relative;
    padding: 0;
    margin: 0;

    .avatar {
        // width: 150px;
        height: 100px;
        @include border-radius(100%);
    }

    textarea {
        resize: none;
    }

    //Login Page Styles

    .login-wrapper {
        height: 100%;
        width: 100%;
    }

    .login-container {
        width: 50%;
        position: relative;
        margin: auto;
        padding: 40px 0 80px;
        text-align: center;
        background: $primary-white;
        @include border-radius(5px);
        top: 50%;
        transform: translateY(-50%);
        
        h1 {
            font-family: $header-font;
            font-size: 3em;
            color: $primary-grey;
            margin: 0;
            padding: 0;
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance:none;
            @include border-radius(3px);
            display: block;
            margin: 17px auto;
            width: 50%;
            height: 2em;
            text-align: left;
            font-size: 1.5em;
        }

        button {
            width: 50%;
            font-size: 1.25em;
            font-family: $text-font;
            margin: 10px;
            text-transform: uppercase;
            @include border-radius(2px);
            -moz-box-shadow: inset 0 0 3px $secondary-grey;
            -webkit-box-shadow: inset 0 0 3px $secondary-grey;
            box-shadow: inset 0 0 3px $secondary-grey;            
            border: none;
            padding: 5px 0;

        }

        .login-button,
        .reset-password {
            background: linear-gradient(
                $primary-green 68%, 
                #ebf0b6
            );
            color: $primary-grey;
            margin-bottom: 30px;
            margin-top: 0;
            -moz-box-shadow: inset 0 0 3px $primary-green;
            -webkit-box-shadow: inset 0 0 3px $primary-green;
            box-shadow: inset 0 0 3px $primary-green;   
        }

        .forgot-password {
            background: linear-gradient(
                $primary-purple, 
                $primary-purple, 
                #5F5974
            );
            color: $primary-blue;
        }

        a {
            text-decoration: none;
            color: $primary-purple;
            font-size: 1.5em;
            font-family: $text-font;
            float: right;
            margin: 25px 20px;
        }

        .forgot-password-wrapper {
            margin-top: 20px;
            background: $transparent-white;
            @include border-radius(5px);
            padding: 15px 0 0;
            margin: 10px 30px;
        }
    }

    //Create Account Page Styles
    .create-account-div {
        width: 50%;
        position: relative;
        margin: auto;
        padding: 40px 0 80px;
        text-align: center;
        background: $primary-white;
        @include border-radius(5px);
        top: 50%;
        transform: translateY(-50%);
        
        h1 {
            font-family: $header-font;
            font-size: 3em;
            color: $primary-grey;
            margin: 0;
            padding: 0;
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance:none;
            @include border-radius(3px);
            display: block;
            margin: 17px auto;
            width: 50%;
            height: 2em;
            text-align: left;
            font-size: 1.5em;
        }
        
        span {
            display: block;

            .typeahead {
                display: block;
            }
        }

        button {
            width: 50%;
            font-size: 1.25em;
            font-family: $text-font;
            margin: 10px;
            text-transform: uppercase;
            @include border-radius(2px);
            -moz-box-shadow: inset 0 0 3px $secondary-grey;
            -webkit-box-shadow: inset 0 0 3px $secondary-grey;
            box-shadow: inset 0 0 3px $secondary-grey;            
            border: none;
            padding: 5px 0;
        }

        .create-account-button {
            background: linear-gradient(
                $primary-green 68%, 
                #ebf0b6
            );
            color: $primary-grey;
            margin-bottom: 30px;
            margin-top: 0;
            -moz-box-shadow: inset 0 0 3px $primary-green;
            -webkit-box-shadow: inset 0 0 3px $primary-green;
            box-shadow: inset 0 0 3px $primary-green;   
        }
    }

    //userPage styles
    .user-page-container {
        width: 95%;
        height: 100%;
        display: block;
        left: 5%;
        position: relative;
        padding: 0;
        margin: 0;
        width: 50%;
        position: relative;
        margin: auto;
        padding: 40px 0 80px;
        text-align: center;
        background: $primary-white;
        @include border-radius(5px);
    }

    .lobby-header {
        
    }
}


// .user-courses-container {
//     width: 100%;
//     position: absolute;
//     left: 5%;
//     margin-top: 0;
//     width: 50%;
//     margin: auto;
//     padding: 40px 0 80px;
//     text-align: center;
//     background: $primary-white;
//     @include border-radius(5px);
//     top: 30%;
//     transform: translateY(-50%);

// }

.possible-course-header,
.possible-courses-container {
    width: 100%;
    position: absolute;
    left: 5%;
    margin-top: 0;
    width: 50%;
    margin: auto;
    padding: 40px 0 80px;
    text-align: center;
    background: $primary-white;
    @include border-radius(5px);
    top: 60%;
    transform: translateY(-50%);
}

//use odd and even selectors to make the posts avatars vary from left and right sides
//form validation - unheap
//image sizing on upload - unheap
//Adjust lightness of background image 

