$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

$primary-grey: #221e1f;
$primary-white: #ffffff;
$primary-purple: #2b2b50;
$primary-green: #d8e164;
$primary-blue: #9bd5d7;
$primary-yellow: #fbdf4b;

$secondary-grey: #333b3a;
$secondary-purple: #9b9bba;
$secondary-blue: #b9e4e8;

$transparent-grey: rgba(34, 30, 31, 0.30);
$transparent-white: rgba(255, 255, 255, 0.1);
$transparent-blue: rgba(155, 213, 215, 0.75);
$transparent-yellow: RGBA(247, 219, 73, 0.15);
$transparent-secondary-yellow: RGBA(247, 219, 73, 0.85);
$transparent-secondary-blue: rgba(185, 228, 232, 0.25);
$transparent-secondary-grey: rgba(34, 30, 31, 0.50);
$transparent-secondary-white: rgba(255, 255, 255, 0.8);


$header-font: 'PT Mono';
$text-font: 'PT Sans';


@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

// * {
//     outline: 2px solid red;
// }

html, body {
    height: 100%;
    font-family: $text-font;
    background: 
        linear-gradient($transparent-white, $transparent-white),
        // linear-gradient($transparent-secondary-grey, $transparent-secondary-grey), 
        url('../images/Composition.gif') no-repeat center center fixed;
    background-size: cover;  
}

.menu-container {
    width: 5%;
    height: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background: black;

    ul {
        width: 100%;
        position: relative;
        list-style: none;
        padding: 0;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);

        li {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 40px 0;
            border-bottom: 1px solid $primary-white;
            border-top: 1px solid $primary-white;

        }

        // li:last-child {
        //     border-bottom: none;
        // }

        li:hover {
            background: linear-gradient($primary-white, $primary-white);
            opacity: 0.7;
        }

        a {
            height: 100%;
            width: 100%;
            text-decoration: none;
        }

        img {
            width: 60%;
        }
    }
}

.logo-div {
    position: relative;
    left: 5%;
    margin: 20px 0 40px;
    width: 95%;
    padding: 10px;
    // outline: 2px solid green;
    // background: $transparent-white;
    text-align: center;

    img {
        width: 20%;
        margin: 0 auto;
        // outline: 1px solid blue;
    }
}

.container {
    width: 95%;
    height: 100%;
    display: block;
    left: 5%;
    position: relative;
    padding: 0;
    margin: 0;

    .avatar {
        // width: 150px;
        height: 100px;
        @include border-radius(100%);
    }

    textarea {
        resize: none;
    }

    //Home Page Styles
    .home-page-container {
        width: 50%;
        position: relative;
        margin: 50px auto;
        padding: 50px 10px 140px;
        text-align: center;
        background: $primary-white;
        @include border-radius(5px);

        h1 {
            font-family: $header-font;
            font-size: 3em;
            color: $primary-grey;
            margin: 0;
            margin-bottom: 5px;
            padding: 0;
        }

        .line-div {
            border-bottom: 1px solid $primary-grey;
            height: 30px;
            width: 80%;  
            margin: 0 auto;          
        }

        ul {
            list-style: none;
            padding: 5px;
            margin-left: 10px;
            margin-bottom: 15px;
            position: absolute;
            text-align: left;
            bottom: 0;
            font-family: $text-font;
            font-size: 1.25em;
            background: $primary-blue;
            @include border-radius(2px);

            a {
                color: $primary-grey;
            }
        }
    }

    //Login Page Styles
    .login-wrapper {
        height: 100%;
        width: 100%;
    }

    .login-container {
        width: 50%;
        position: relative;
        margin: auto;
        padding: 40px 0 80px;
        text-align: center;
        background: $primary-white;
        @include border-radius(5px);
        top: 50%;
        transform: translateY(-50%);
        
        h1 {
            font-family: $header-font;
            font-size: 3em;
            color: $primary-grey;
            margin: 0;
            padding: 0;
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance:none;
            @include border-radius(3px);
            display: block;
            margin: 17px auto;
            width: 50%;
            height: 2em;
            text-align: left;
            font-size: 1.5em;
        }

        .last-input {
            margin-bottom: 0;
        }

        button {
            font-size: 1.25em;
            font-family: $text-font;
            margin: 10px;
            text-transform: uppercase;          
            border: none;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
        }

        .login-button {
            background: $primary-yellow; 
            color: $primary-grey;
            margin-bottom: 10px;
            padding: 10px;
            width: 35%;
        }

        .forgot-password {
            background: $transparent-blue;
            color: $primary-grey;
            // float: right;
            // margin: -20px -42px 10px 0;
            height: 30px;
            text-transform: none;
            font-size: 1.5em
        }

        .reset-password {
            background: $transparent-blue;
            color: $primary-grey;
        }

        a {
            text-decoration: none;
            height: 30px;
            color: $primary-grey;
            font-size: 1.5em;
            font-family: $text-font;
            float: right;
            clear: both;
            margin: 20px 10px 0 0;
            // margin: 0 -28px 20px 0;
            background: $transparent-secondary-yellow;
            padding: 0 5px;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
        }

        // .create-account-link {
        //     background: $tr-yellow;
        // }

        .forgot-password-wrapper {
            margin-top: 20px;
            clear: both;
            background: $transparent-grey;
            @include border-radius(5px);
            padding: 15px 0 0;
            margin: 10px 30px;

            input {
                margin-bottom: 5px;
            }
        }
    }

    //Create Account Page Styles
    .create-account-div {
        width: 50%;
        position: relative;
        margin: 50px auto;
        padding: 40px 0 80px;
        text-align: center;
        background: $primary-white;
        @include border-radius(5px);
        top: 50%;
        transform: translateY(-50%);
        
        h1 {
            font-family: $header-font;
            font-size: 3em;
            color: $primary-grey;
            margin: 0;
            padding: 0;
        }
        
        label {
            font-family: $text-font;
            font-size: 1.25em;
            color: $primary-grey;
            margin: 10px auto 5px;
            display: block;
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance:none;
            @include border-radius(3px);
            display: block;
            margin: 17px auto;
            width: 50%;
            height: 2em;
            text-align: left;
            font-size: 1.5em;
        }

        .avatar-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance:none;
            margin: 0 auto;
            width: 50%;
            font-family: $text-font;
            font-size: 1.5em;
            color: $primary-grey;
            padding: 10px;
            background: $transparent-grey;
        }

        .twitter-typeahead {
            width: 50%;
        }

        .tt-suggestion {
            font-family: $text-font;
            font-size: 1.25em;
            color: $primary-grey;
            display: block;
            width: 100%;
            overflow: hidden;
            padding-top: 10px;
            border-bottom: 1px solid $primary-white;
        }

        .tt-suggestion:hover,
        .tt-suggestion:focus {
            background-color: $primary-blue;
        }

        .tt-input,
        .tt-hint,
        .tt-dropdown-menu {
            width: 100%;
        }

        .tt-dropdown-menu {
            float: right;
            position: auto;
            background: RGBA(239, 239, 239, 1);
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.50), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.50), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.50), 0 0 40px rgba(0, 0, 0, 0.06) inset;
        }

        .create-account-button {
            font-size: 1.25em;
            font-family: $text-font;
            margin: 10px;
            text-transform: uppercase;           
            border: none;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            background: $primary-yellow; 
            color: $primary-grey;
            margin-bottom: 10px;
            padding: 10px;
            width: 35%;
        }
    }

    //userPage styles
    .user-page-container {
        width: 80%;
        position: relative;
        margin: 25px auto;
        padding: 20px 0 80px;
        background: $primary-white;
        @include border-radius(5px);

        .lobby-header {
            padding: 10px;
            margin-bottom: 20px;
            font-family: $header-font;
            font-size: 2.5em;
            text-transform: uppercase;

            h1 {
                position: relative;
                text-align: center;
            }

            img {
                position: absolute;
                top: 0;
                right: 100px;
                @include border-radius(0 0 5px 5px);
            }
        }

        .user-course-list,
        .possible-course-list {
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: center;

            h3 {
                text-align: center;
                font-family: $header-font;
                text-transform: uppercase;
                background: $transparent-grey;
                color: $primary-white;
                padding: 10px 0;
                margin: 20px 20px 10px;
            }

            .header-possible {
                margin: 20px 20px 0;
                z-index: 1;
            }

            .create-course {
                background: $primary-blue;
                @include border-radius(0 0 5px 5px);
                padding: 5px;
                margin: 0 20px 0 0;
                float: right;
                font-size: 1.2em;
            }
        }

        .user-course-item,
        .possible-course-items {
            display: inline-block;
            width: 250px;
            height: 250px;
            text-align: center;
            margin: 10px 20px;
            background: $primary-yellow;
            overflow: hidden;
            // -webkit-box-shadow: 2px 8px 6px -6px $primary-grey;
            // -moz-box-shadow: 2px 8px 6px -6px $primary-grey;
            // box-shadow: 2px 8px 6px -6px $primary-grey;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            padding: 10px;
            padding-top: 55px;
            
            .join-course-button {
                padding: 5px;
                width: 45%;
                display: block;
                margin: 50px auto 0;
                font-family: $text-font;
                color: $primary-grey;
                background: $primary-blue;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                border: none;
          
            }
        }

        li:nth-of-type(odd) {
            -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        .corner {
            -webkit-box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            -moz-box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;        
        }
        .corner::before {
            content: "";
            position: relative;
            left: -110px;
            bottom: 80px;
            width: 0px;
            height: 0px;
            border-bottom: 30px solid RGBA(253, 233, 120, 1);
            border-left: 30px solid $primary-white; /*Set to background color, not transparent!*/
            -webkit-box-shadow: 0 2px 4px $transparent-grey;
            -moz-box-shadow: 0 2px 4px $transparent-grey;
            box-shadow: 0 2px 4px $transparent-grey;
        }

        .possible-course-items.corner::before {
            position: relative;
            left: -110px;
            bottom: 73px;
        }
        

        a {
            text-decoration: none;
            color: black;
            font-size: 1.5em;
            font-family: $text-font;
        }
    }

    //updateAccount styles 
    .update-account-div {
        width: 80%;
        position: relative;
        margin: 0 auto;
        padding: 20px 0 80px;
        background: $primary-white;
        @include border-radius(5px);
        position: 50%;
        transform: translateY(25%);
        
        h3 {
            font-family: $header-font;
            font-size: 3em;
            color: $primary-grey;
            margin: 20px;
            padding: 0;
            text-align: center;
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance:none;
            @include border-radius(3px);
            display: block;
            margin: 17px auto;
            width: 50%;
            height: 2em;
            text-align: left;
            font-size: 1.5em;
        }

        .avatar-input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance:none;
            margin: 0 auto;
            width: 50%;
            font-family: $text-font;
            font-size: 1.5em;
            color: $primary-grey;
            padding: 10px;
            background: $transparent-grey;
        }

        form {
            text-align: center;
        }

        button {
            font-size: 1.25em;
            font-family: $text-font;
            margin: 10px;
            text-transform: uppercase;           
            border: none;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            background: $primary-yellow; 
            color: $primary-grey;
            margin-bottom: 10px;
            padding: 10px;
            width: 35%;
        }
    }

    //courseDetails styles
    .course-details-container {
        width: 80%;
        position: relative;
        margin: 25px auto;
        padding: 20px 0 80px;
        background: $primary-white;
        @include border-radius(5px);

        .course-header {
            padding: 10px;
            margin-bottom: 20px;
            font-family: $header-font;
            font-size: 2.5em;
            text-transform: uppercase;
            
            h1 {
                position: relative;
                text-align: center;
                color: $primary-grey;
                margin-top: 35px;
            }

            p {
                text-align: center;
                color: $primary-grey;
            }
        }

        .course-action {
            button {
                font-size: 1.25em;
                font-family: $text-font;
                margin: 10px;
                text-transform: uppercase;           
                border: none;
                -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                background: $primary-yellow; 
                color: $primary-grey;
                margin-bottom: 10px;
                padding: 10px;
            }

            .join-course {
                position: absolute;
                top: 0;
                right: 150px;
                margin-top: 0;
                @include border-radius(0 0 5px 5px);
            }

            .drop-course {
                position: absolute;
                top: 0;
                right: 0;
                margin-top: 0;
                @include border-radius (0 0 5px 5px);
            }
        }

        .new-post-header, 
        .post-list-header {
            h3 {
                text-align: center;
                font-family: $header-font;
                text-transform: uppercase;
                background: $transparent-grey;
                color: $primary-white;
                padding: 10px 0;
                margin: 20px 20px 10px;
            }
        }

        .new-post-container {
            // * {
            //     outline: 2px solid red;
            // }

            margin-bottom: 20px;

            form {
                text-align: center;
                padding: 0;

                textarea {
                    font-family: $text-font;
                    font-size: 1.5em;
                    width: 50%;
                    display: block;
                    margin: 10px auto;
                }

                .create-post {
                    font-size: 1.25em;
                    font-family: $text-font;
                    margin: 10px auto 0;
                    text-transform: uppercase;           
                    border: none;
                    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                    background: $primary-yellow; 
                    color: $primary-grey;
                    padding: 5px;
                    display: block;
                }
            }
        }
    }

    .post-list-container {
        // * {
        //     outline: 2px solid blue;
        // }

        ul {
            list-style: none;
            padding: 0;
            margin: 10px;
        }

        li {
            width: 100%;
            height: 170px;
            margin-bottom: 10px;
            padding: 10px;

            .post-avatar {
                width: 150px;
                height: 150px;
                overflow: hidden;
                background: $primary-yellow;
                display: inline-block;
                margin: 0;
                float:left;
                -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
                box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            }
           
            a {
                text-decoration: none;
                color: $primary-grey;
                font-size: 1.5em;
                font-family: $text-font;
                width: 100%;
                margin: 50px 10px;
            } 

        }

        li:nth-child(even) {
            clear: both;
            position:relative;
            height:170px;
            text-align: right;

            .post-avatar {
                float:right;
            } 

            a {
                clear: both;
            }
        }

        li:nth-child(odd) {
            background: $transparent-yellow;
        }
    }

    //postDetails styles
    .post-detail-container {
        width: 80%;
        position: relative;
        margin: 25px auto;
        padding: 20px 0 80px;
        background: $primary-white;
        @include border-radius(5px);
        text-align: center;

        h1 {
            padding: 10px;
            margin-bottom: 20px;
            font-family: $header-font;
            font-size: 2.5em;
            text-transform: uppercase;
            position: relative;
            text-align: center;
            color: $primary-grey;
            margin-top: 35px;
        }

        .post-content {
            width: 450px;
            height: 250px;
            background: $primary-yellow;
            text-align: center;
            padding: 30px;
            margin: 0 auto 20px;
            overflow: hidden;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            // -webkit-box-shadow: 2px 8px 6px -6px $primary-grey;
            // -moz-box-shadow: 2px 8px 6px -6px $primary-grey;
            // box-shadow: 2px 8px 6px -6px $primary-grey;
        }

        p {
            font-family: $text-font;
            color: $primary-grey;
            font-size: 1.5em;
        }

        h3 {
            text-align: center;
            font-family: $header-font;
            text-transform: uppercase;
            background: $transparent-grey;
            color: $primary-white;
            padding: 10px 0;
            margin: 20px 20px 10px;
        }

        textarea {
            font-family: $text-font;
            font-size: 1.5em;
            margin: 10px auto;
            margin-bottom: 0;
            width: 50%;
            display: block;
        }

        button {
            font-size: 1.25em;
            font-family: $text-font;
            margin: 10px auto 0;
            text-transform: uppercase;           
            border: none;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            background: $primary-yellow; 
            color: $primary-grey;
            padding: 5px;
            display: block;
        }
    }

    .create-course-container {
        width: 50%;
        position: relative;
        margin: 50px auto;
        padding: 40px 0 80px;
        text-align: center;
        background: $primary-white;
        @include border-radius(5px);
        top: 50%;
        transform: translateY(-60%);
        
        h1 {
            font-family: $header-font;
            font-size: 3em;
            color: $primary-grey;
            margin: 0;
            padding: 0;
        }
        
        select {
            display: block;
            width: 50%;
            font-family: $text-font;
            color: $primary-grey;
            font-size: 1.25em;
            margin: 0 auto 5px;
            padding: 5px;
        }

        label {
            font-family: $text-font;
            font-size: 1.25em;
            color: $primary-grey;
            margin: 10px auto 5px;
            display: block;
        }

        input {
            -webkit-appearance: none;
            -moz-appearance: none;
            -ms-appearance:none;
            @include border-radius(3px);
            display: block;
            margin: 17px auto;
            width: 50%;
            height: 2em;
            text-align: left;
            font-size: 1.5em;
        }

        button {
            font-size: 1.25em;
            font-family: $text-font;
            margin: 10px;
            margin-top: 15px;
            text-transform: uppercase;           
            border: none;
            -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
            background: $primary-yellow; 
            color: $primary-grey;
            padding: 10px;
            width: 35%;
        }

        .school-label-div {
            margin-top: 15px;
            font-family: $text-font;
            font-size: 1.25em;
            color: $primary-grey;
        }

    }
}

//use odd and even selectors to make the posts avatars vary from left and right sides
//form validation - unheap
//image sizing on upload - unheap
//Adjust lightness of background image 

