<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>final</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- google fonts -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Mono' rel='stylesheet' type='text/css'>

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
       
        <nav class='menu-container'>
            <ul class='menu-list'>
                <a href='#userPage'><li><img src = 'images/icon_home.png'></li></a>
                <a href='#update'><li><img src = 'images/icon_upload.png'></li></a>
                <a href='#logout'><li><img src = 'images/icon_logout.png'></li></a>
            </ul>
        </nav>
        <!-- <div class='logo-div'>
            <img src = '../images/logo.png'>
        </div> -->
        <section class= 'container'></section>

        
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Parse -->
        <script src="http://www.parsecdn.com/js/parse-1.3.1.min.js"></script>

        <!-- TEMPLATES -->
        <script type='text/template' id='templates-home'>
            <section class='home-page-container'>
                <h1>Binder</h1>
                <p>Collaboration in Learning</p> 
                <div class='line-div'></div>
                <div class='line-div'></div>
                <div class='line-div'></div>                
                <ul>
                    <li><a href='#login'>Login</a></li>
                    <li><a href='#create'>Create Account</a></li>
                </ul>
            </section>
        </script>

        <script type='text/template' id='templates-login'>
            <div class='login-container'>
                <h1>Login</h1>
                <form>
                    <input type='email' name='email' placeholder='Email'>
                    <input class='last-input' type='password' name='password' placeholder='Password'>
                    <button class='login-button'>Login</button>
                </form>
                <button class='forgot-password'>Forgot Password</button>
                <div class='request-password'></div>
                <a href = '#create'>Create Account</a>
            </div>
        </script>

        <script type="text/template" id='templates-forgot-pass'>
            <input type='email' name='emailPassword' placeholder='Email'>
            <button class='reset-password'>Reset Password</button>
        </script>

        <script type='text/template' id='templates-reset-login'>
            <h1>So you forgot your password...</h1>
            <p>No problem. You&#39;ll receive an email shortly with a reset link.  Take care of that and come back to this page to login... we&#39;ll wait.</p>
            <form>
                <input type='email' name='email' placeholder='Email'>
                <input type='password' name='password' placeholder='Password'>
                <button class='login-button'>Login</button>
            </form>
        </script>

        <script type='text/template' id='templates-create-account'>
            <h1>Create Account</h1>
            <form>
                <input type='text' name='firstName' placeholder='First Name'>
                <input type='text' name='lastName' placeholder='Last Name'>
                <input class='typeahead' type='text' placeholder='School Name'>
                <label>Profile Picture</label>
                <input type='file' name='avatar' class='avatar-input'>
                <input type='email' name='email' placeholder='Email'>
                <input type='password' name='password' placeholder='Password'>
                <button class='create-account-button'>Create Account</button>
            </form>
        </script>

        <script type='text/template' id='templates-update-account'>
            <h3>Update Account Info</h3>
            <form>
                <input type='text' name='firstName' value= '<%= firstName %>'>
                <input type='text' name='lastName' value= '<%= lastName %>'>
                <input type='text' name='email' value= '<%= email %>'>   
                <label>Profile Picture</label>
                <input type='file' name='avatar' class='avatar-input'>                
                <input type='password' name='password' placeholder='Password'>

                <button class='update-account'>Update Account</button>
            </form>
        </script>

        <script type="text/template" id='templates-user-page'>
            <div class='lobby-header'>
                <span class='image-container'>
                    <img class='avatar' src = '<%=avatar%>'>
                </span>
                <h1><%=firstName %>&#39;s Binder </h1>
            </div>
        </script>

        <script type='text/template' id='templates-possible-course-header'>
            <h3 class='header-possible'>Possible Courses</h3>
            <a href='#createCourse' class='create-course'>Create A Course</a>
        </script>

        <script type="text/template" id='templates-possible-courses'>
            <div class='possible-courses'>
                <a href='#/courses/<%=objectId%>'>
                    <p class='highlight'><%= courseName %></p> 
                    <%= semester %>, <%= year %>
                </a>
                <button class='join-course-button'>Join Course</button>
            </div>
        </script>
        
        <script type="text/template" id='templates-user-course-list'>
            <h3>Your Courses</h3>
            <div class='user-courses-container'></div>
        </script>

        <script type="text/template" id='templates-user-courses'>
            <a href='#/courses/<%=objectId%>'>
            <p class='highlight'><%= courseName %></p> 
                <p><%= semester %>, <%= year %></p>
            </a>
        </script>

        <script type="text/template" id='templates-create-course'>
            <h1>Create Course</h1>
            <form>
                <input type='text' name='courseName' placeholder='Course Name'>

                <label>Semester: </label><select name='semester'>
                    <option value='Fall'>Fall</option>
                    <option value='Summer'>Summer</option>
                    <option value='Spring'>Spring</option>
                </select>

                <label>Year: </label><select name='year'>
                    <option value=2014>2014</option>
                    <option value=2015>2015</option>
                    <option value=2016>2016</option>
                </select>

                <div class='school-label-div'><p>School: <%=Name%></p></div>
                <button class='create-course-button'>Create Course</button>
            </form>
        </script>

        <script type="text/template" id='templates-course-details'>
            <div class='course-header'>
                <h1 class='course-name'><%= courseName %></h1>
                <p><%= semester %>, <%= year %></p>
            </div>
            <div class='course-action'>
                <button class='join-course'>Join Us</button>
                <button class='drop-course'>Drop Course</button>
            </div>
            <div class='new-post-header'>
                <h3>New Post</h3>
            </div>
            <div class='new-post-container'>
                <form class='new-post'> 
                    <textarea rows='3' name='post' placeholder = 'Make a New Post'></textarea>
                    <input type='url' name='post-url' placeholder='Share a Link'>
                    <button class='create-post'>Post</button>
                </form>
            </div>
            <div class='post-list-header'><h3>Recent Posts</h3></div>
            <div class='post-list-container'></div>
        </script>

        <script type='text/template' id='templates-post-list'>
            <div class='post-avatar'></div>
            <a href='#/posts/<%= objectId %>'>
                <%= postContent %>
            </a>

            <% if (postUrl) { %>
            <a href='<%= postUrl %>'><%= postUrl %></a> 
            <%}%>           
        </script>

        <script type='text/template' id='templates-post-details'>
            <h1>Post</h1>
            <p class='post-content'><%= model.postContent %>
            <% if (model.postUrl) { %>
            <a href='<%= model.postUrl %>'><%= model.postUrl %></a> 
            <%}%>           
            <%= model.postAuthor %></p>
            <h3>Leave a Comment</h3>
            <textarea name='comment' placeholder='Comment on this...'></textarea>
            <button class='create-comment-button'>Comment</button>

            <h3>Comments</h3>
            <div class='comment-list-container'></div>
        </script>

        <script type='text/template' id='templates-comment-list'>
            <%= commentContent %>
        </script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/GlueCode.js"></script>
        <script src="scripts/Models-Collections.js"></script>
        <script src="scripts/CreateAccountView.js"></script>
        <script src="scripts/CreateCourseView.js"></script>
        <script src="scripts/HomeView.js"></script>
        <script src="scripts/LoginView.js"></script>
        <script src="scripts/LogoutView.js"></script>
        <script src="scripts/UpdateAccountView.js"></script>
        <script src="scripts/UserCoursesView.js"></script>
        <script src="scripts/UserPageView.js"></script>
        <script src="scripts/router.js"></script>
        <script src="scripts/CourseDetailsView.js"></script>
        <script src="scripts/PostDetailsView.js"></script>
        <script src="scripts/PossibleCoursesViews.js"></script>
        <script src="scripts/PostListViews.js"></script>
        <script src="scripts/ForgotPasswordView.js"></script>
        <script src="scripts/ResetLoginView.js"></script>
        <script src="scripts/CommentViews.js"></script>



        <!-- endbuild -->
</body>
</html>
