<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>final</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->

        <!-- google fonts -->
        <link href='http://fonts.googleapis.com/css?family=PT+Sans|PT+Mono' rel='stylesheet' type='text/css'>

        <!-- build:js scripts/vendor/modernizr.js -->
        <script src="bower_components/modernizr/modernizr.js"></script>
        <!-- endbuild -->
    </head>
    <body>
       
        <nav class='menu-container'>
            <ul class='menu-list'>
                <a href='#userPage'><li><img src = '../images/icon_home.png'></li></a>
                <a href='#update'><li><img src = '../images/icon_upload.png'></li></a>
                <a href='#logout'><li><img src = '../images/icon_logout.png'></li></a>
            </ul>
        </nav>
        <div class='logo-div'>
            <img src = '../images/logo.png'>
        </div>
        <section class= 'container'>            
        </section>
        <section class= 'user-courses-container'></section>
        <section class= 'possible-course-header'>
            <h3>Possible Courses</h3>
            <a href='#createCourse'>Create A Course</a>
        </section>
        <section class= 'possible-courses-container'></section>

        
        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- Parse -->
        <script src="//www.parsecdn.com/js/parse-1.3.1.min.js"></script>

        <!-- TEMPLATES -->
        <script type='text/template' id='templates-home'>
            <section>
                <h1>Binder</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mollis nibh sit
                amet libero fermentum condimentum.</p> 
            </section>
            <section>
                <nav>
                    <ul>
                        <li><a href='#login'>Login</a></li>
                        <li><a href='#create'>Create Account</a></li>
                    </ul>
                </nav>
            </section>
        </script>

        <script type='text/template' id='templates-login'>
            <div class='login-container'>
            <h1>Login</h1>
            <form>
                <input type='email' name='email' placeholder='Email'>
                <input type='password' name='password' placeholder='Password'>
                <button class='login-button'>Login</button>
            </form>
            <button class='forgot-password'>Forgot Password</button>
            <div class='request-password'></div>
            <div>
                <a href = '#create'>Create Account</a>
            </div>
            </div>
        </script>

        <script type="text/template" id='templates-forgot-pass'>
            <input type='email' name='emailPassword' placeholder='Email'>
            <button class='reset-password'>Reset Password</button>
        </script>

        <script type='text/template' id='templates-reset-login'>
            <h1>So you forgot your password...</h1>
            <p>No problem. You&#39;ll receive an email shortly with a reset link.  Take care of that and come back to this page to login... we&#39;ll wait.</p>
            <form>
                <input type='email' name='email' placeholder='Email'>
                <input type='password' name='password' placeholder='Password'>
                <button class='login-button'>Login</button>
            </form>
        </script>

        <script type='text/template' id='templates-create-account'>
            <h1>Create Account</h1>
            <form>
                <input type='text' name='firstName' placeholder='First Name'>
                <input type='text' name='lastName' placeholder='Last Name'>
                <div id='bloodhound'>
                <input class='typeahead' type='text' placeholder='School Name'>
                </div>
                <input type='file' name='avatar' class='avatar'>
                <input type='email' name='email' placeholder='Email'>
                <input type='password' name='password' placeholder='Password'>
                <button class='button'>Create Account</button>
            </form>
        </script>

        <script type='text/template' id='templates-update-account'>
            <h3>Update Account Info</h3>
            <form>
                <input type='text' name='firstName' value= '<%= firstName %>'>
                <input type='text' name='lastName' value= '<%= lastName %>'>
                <input type='text' name='email' value= '<%= email %>'>
                <input type='password' name='password' placeholder='Password'>

                <button class='update-account'>Update Account</button>
            </form>
        </script>

        <script type="text/template" id='templates-user-page'>
            <div class='lobby-header'>
                <img src='../images/logo.png'>
                <span>Hey <%=firstName %> </span>
                <span class='image-container'><img class='avatar' src = '<%=avatar%>'></span>
            </div>
        </script>

        <script type="text/template" id='templates-possible-courses'>
            <div class='possible-courses'>
                <a href='#/courses/<%=objectId%>'><%= courseName %>, <%= semester %>, <%= year %></a>
                <button class='button'>+</button>
            </div>
        </script>
        
        <script type="text/template" id='templates-user-course-list'>
            <h3>Your Courses</h3>
            <div class='user-courses-container'></div>
        </script>

        <script type="text/template" id='templates-user-courses'>
            <a href='#/courses/<%=objectId%>'>
                <%= courseName %>, <%= semester %>, <%= year %>
            </a>
        </script>

        <script type="text/template" id='templates-create-course'>
            <h1>Create Course</h1>
            <form>
                <input type='text' name='courseName' placeholder='Course Name'>

                <select name='semester'>
                    <option value='Fall'>Fall</option>
                    <option value='Summer'>Summer</option>
                    <option value='Spring'>Spring</option>
                </select>

                <select name='year'>
                    <option value=2014>2014</option>
                    <option value=2015>2015</option>
                    <option value=2016>2016</option>
                </select>

                <div><%=Name%></div>
                <button class='button'>Create Course</button>
            </form>
        </script>

        <script type="text/template" id='templates-course-details'>
            <div class='course-header'>
                <h2 class='course-name'><%= courseName %></h3>
            </div>
            <div class='course-action'>
                <button class='join-course'>Join Us</button>
                <button class='drop-course'>Drop Course</button>
            </div>
            <div class='new-post-header'>
                <h2>New Post</h2>
            </div>
            <div class='new-post-container'>
                <form class='new-post'> 
                    <textarea name='post' placeholder = 'Make a New Post'></textarea>
                    <button class='create-post'>Post</button>
                </form>
            </div>
            <div class='post-list-container'></div>
        </script>

        <script type='text/template' id='templates-post-list'>
            <a href='#/posts/:postId'>
                <%= postContent %>
            </a>
        </script>

        <script type='text/template' id='templates-post-details'>
            <h1>Post</h1>
            <p><%= model.postContent %></p>
            <span><%= model.postAuthor %></span>
            <p>COMMENTS</p>
            <p>Check out this comment someone left...blah blah blah</p>
            <h3>Leave a Comment</h3>
            <textarea name='comment' placeholder='Comment on this...'></textarea>
            <button class='button'>Comment</button>
        </script>

        <script type='text/template' id='templates-comment-list'>
            <%= commentContent %>
        </script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/GlueCode.js"></script>
        <script src="scripts/Models-Collections.js"></script>
        <script src="scripts/CreateAccountView.js"></script>
        <script src="scripts/CreateCourseView.js"></script>
        <script src="scripts/HomeView.js"></script>
        <script src="scripts/LoginView.js"></script>
        <script src="scripts/LogoutView.js"></script>
        <script src="scripts/UpdateAccountView.js"></script>
        <script src="scripts/UserCoursesView.js"></script>
        <script src="scripts/UserPageView.js"></script>
        <script src="scripts/router.js"></script>
        <script src="scripts/CourseDetailsView.js"></script>
        <script src="scripts/PostDetailsView.js"></script>
        <script src="scripts/PossibleCoursesViews.js"></script>
        <script src="scripts/PostListViews.js"></script>
        <script src="scripts/ForgotPasswordView.js"></script>
        <script src="scripts/ResetLoginView.js"></script>



        <!-- endbuild -->
</body>
</html>
